ion-button {
  width: 60%;
}
.header {
  font-size: 30px;
}
.content {
  font-size: 15px;
}
.title {
  font-size: 15px;
}
.terms-conditions {
  font-size: 15px;
}
.my-btn {
  height: 33px;
  width: 60%;
  font-weight: normal;
  text-transform: none;
  font-size: 14px;
  border-radius: 4px;
}

.not-agree,
.terms-conditions {
  font-size: 15px;
  margin-left: 15px;
}
.version {
  text-align: center;
  font-size: 15px;
}
