<ion-header>
  <ion-toolbar>
    <ion-title text-center>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list text-center>
    <ion-button shape="round">Change PIN</ion-button>
    <ion-button shape="round">Change Passphrase</ion-button>
    <ion-button shape="round">Backup Wallet</ion-button>
    <ion-button shape="round">Restore Wallet</ion-button>
    <ion-button shape="round">FAQ / Help</ion-button>
  </ion-list>

  <p text-center>Version: 1.0.0</p>
  <p text-center>Mobile - OS</p>
</ion-content>
