.title-md {
  font-size: 15px;
  position: absolute;
  left: 70px;
  bottom: 20px;
}
.ttile-ios {
  font-size: 15px;
  position: absolute;
  left: 70px;
  bottom: 20px;
}
ion-button {
  text-transform: none;
}
ion-toolbar {
  height: 60px;
}
