.title {
  font-size: 15px;
  position: relative;
  bottom: 30px;
}
ion-toolbar {
  height: 58px;
}
ion-button {
  text-transform: none;
}

.condition {
  font-size: 15px;
  margin-left:15px;
}
.new-passphrase {
  font-size: 15px;
  font-weight: bold;
  margin-left: 15px;
}
.change-passphrase {
  font-size: 15px;
  font-weight: bold;
  margin-left: 15px;
}
.set-passphrase {
  text-transform: none;
  font-weight: normal;
  align-items: center;
  font-size: 14px;
  width:60%;
  height: 33px;
 
}
