.title-md {
  font-size: 15px;
  position: absolute;
  left: 70px;
  bottom: 20px;
  font-weight: normal;
}
.ttile-ios {
  font-size: 15px;
  position: absolute;
  left: 70px;
  bottom: 20px;
  font-weight: normal;
}
ion-button {
  text-transform: none;
}
ion-toolbar {
  height: 60px;
}
.condition {
  font-size: 15px;
}
.new-passphrase {
  font-size: 15px;
  font-weight: bold;
  margin-left: 15px;
}
.change-passphrase {
  font-size: 15px;
  font-weight: bold;
  margin-left: 15px;
}
.set-passphrase {
  text-transform: none;
  font-weight: normal;
  align-items: center;
  font-size: 14px;
  width: 250px;
  height: 33px;
  position: absolute;
  left: 22px;
}
