.title {
  font-size: 15px;
  position:relative;
  bottom:30px;
}
ion-button {
  text-transform: none;
  font-weight: normal;
  font-size: 12px;
  width:18%;
  height: 35px;
  padding:6px,12px,6px,12px;
  border-radius:4px;
  margin-right:14px;
}
.recovery-phrase {
  font-weight: bold;
  font-size: 15px;
  margin-left: 15px;
}
ion-toolbar{
height:58px;
}