.title-md {
  font-size: 15px;
  position: absolute;
  left: 70px;
  bottom: 20px;
}
.ttile-ios {
  font-size: 15px;
  position: absolute;
  left: 70px;
  bottom: 20px;
}
ion-button {
  text-transform: none;
  font-weight: normal;
  font-size: 12px;
  padding-top: 6px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 6px;
  width: 100px;
  height: 43px;
  position: absolute;
  right: 5px;
}
ion-toolbar {
  height: 60px;
}
.recovery-phrase {
  font-weight: bold;
  font-size: 15px;
  margin-left: 18px;
}
