<ion-header>
  <ion-toolbar color='primary'>
    <div>
      <ion-back-button></ion-back-button>
      <ion-title text-center class='title'>Add Account</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list text-center>
    <ion-button color='danger' routerLink="/generate-new-address" routerDirection="forward">Generate New Address
    </ion-button> <br>
    <ion-button color='danger' routerLink="/add-existing-address" routerDirection="forward">Add Existing Address
    </ion-button>
  </ion-list>
</ion-content>