.text {
  font-size: 15px;
  font-weight: bold;
}
.toggle-text {
  font-size: 15px;
}
ion-toggle {
  font-size: 15px;
}
.finish-setup {
  height: 33px;
  width: 250px;
  font-size: 15px;
  font-weight: normal;
  text-transform: none;
  position: absolute;
  left: 18px;
}
.text span {
  color: red;
}
.title {
  font-size: 15px;
}
