ion-card {
  text-align: center;
  padding: 5%;
}
.account {
  font-size: 15px;
  color: #ffffff;
}
.add {
  font-weight: bold;
  font-size: 15px;
  color: #680a0a;
}
.account-add {
  color: #680a0a;
}

.exit-icon {
  position: absolute;
  right: 20px;
  bottom: 15px;
  font-size: 20px;
}
