<ion-header>
  <ion-toolbar color='primary'>
    <ion-icon name="exit" class='exit'></ion-icon>
    <ion-title class='setting' text-center>
      Settings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list text-center>
    <ion-button color='danger' routerLink="/change-pin" routerDirection="forward">Change PIN</ion-button>
    <ion-button color='danger' routerLink="/change-passphrase" routerDirection="forward">Change Passphrase</ion-button>
    <ion-button color='danger' routerLink="/backup-wallet" routerDirection="forward">Backup Wallet</ion-button>
    <ion-button color='danger' routerLink="/restore-wallet" routerDirection="forward">Restore Wallet</ion-button>
    <ion-button color='danger' (click)="visitFAQ()">FAQ / Help</ion-button>
  </ion-list>
  <p text-center>Version: 1.0.0</p>
  <p text-center>Mobile - OS</p>
</ion-content>