ion-button {
  text-transform: none;
  font-weight: normal;
  width: 60%;
  border-radius: 4px;
}
.setting {
  font-size: 15px;
}
.exit-icon {
  position: absolute;
  right: 20px;
  font-size: 20px;
}
