<ion-header>
  <ion-toolbar color='primary'>
    <ion-title class='title' text-center>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='secondary'>
  <div class="pinpad" *ngIf="!pinVerified">
    <div text-center large margin-vertical class="doticons">
      <ion-icon [name]="enteredPinCode.length>0 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
      <ion-icon [name]="enteredPinCode.length>1 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
      <ion-icon [name]="enteredPinCode.length>2 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
      <ion-icon [name]="enteredPinCode.length>3 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
      <ion-icon [name]="enteredPinCode.length>4 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
      <ion-icon [name]="enteredPinCode.length>5 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
    </div>
    <br>
    <button (click)="handlePinInput('1')">
      <div>1</div>
    </button>
    <button (click)="handlePinInput('2')">
      <div>2<i class="char">abc</i></div>
    </button>
    <button (click)="handlePinInput('3')">
      <div>3<i class="char">def</i></div>
    </button><br>
    <button (click)="handlePinInput('4')">
      <div>4<i class="char">ghi</i></div>
    </button>
    <button (click)="handlePinInput('5')">
      <div>5<i class="char">jkl</i></div>
    </button>
    <button (click)="handlePinInput('6')">
      <div>6<i class="char">mno</i></div>
    </button><br>
    <button (click)="handlePinInput('7')">
      <div>7<i class="char">prqs</i></div>
    </button>
    <button (click)="handlePinInput('8')">
      <div>8<i class="char">tuv</i></div>
    </button>
    <button (click)="handlePinInput('9')">
      <div>9<i class="char">wxyz</i></div>
    </button><br>
    <button (click)="closePin()">
      <ion-icon name="close"></ion-icon>
    </button>
    <button (click)="handlePinInput('0')">
      <div>0</div>
    </button>
    <button (click)="backspacePin()">
      <ion-icon name="backspace"></ion-icon>
    </button>
  </div>
  <div *ngIf="pinVerified">
    <ion-list>
      <p class='set-phrase'>Set a Passphrase</p>
      <ion-item>
        <ion-input type="password"></ion-input>
      </ion-item>
      <p class='repeat-phrase'> Repeat Passphrase</p>
      <ion-item>
        <ion-input type="password"></ion-input>
      </ion-item>
      <p class='text'>Your passphrase will be used to encrypt your wallet.You will only enter it when you wish to send
        CSC.It should be long and strong.Never share it with anyone.</p>
      <ion-button class='my-btn' (click)="validatePassPhrase()">Set Passphrase</ion-button>
    </ion-list>
  </div>
</ion-content>