.title {
  font-size: 15px;
  position:relative;
  bottom:30px;
}
ion-button {
  text-transform: none;
}
ion-toolbar {
  height: 58px;
}
.recovery-phrase {
  font-weight: bold;
  margin-left: 15px;
  font-size: 15px;
}
.back-up {
  font-weight: bold;
  font-size: 15px;
  margin-left: 16px;
}
.destory-wallet,.restore-wallet  {
  font-size: 15px;
  margin-left:15px;
}
.mybtn {
  width: 60%;
  height: 33px;
}
