.title-md {
  font-size: 15px;
  position: absolute;
  left: 70px;
  bottom: 20px;
}
.ttile-ios {
  font-size: 15px;
  position: absolute;
  left: 70px;
  bottom: 20px;
}
ion-button {
  text-transform: none;
}
ion-toolbar {
  height: 60px;
}
.recovery-phrase {
  font-weight: bold;
  margin-left: 10px;
  font-size: 15px;
}
.back-up {
  font-weight: bold;
  font-size: 15px;
  margin-left: 10px;
}
.restore-wallet {
  font-size: 15px;
}
.destory-wallet {
  font-size: 15px;
}
.mybtn {
  width: 250px;
  height: 33px;
  position: absolute;
  left: 22px;
}
