.title-md {
  position: absolute;
  top: 20px;
  font-size: 15px;
  left: 90px;
}
.title-ios {
  position: absolute;
  top: 20px;
  font-size: 15px;
  left: 90px;
}
.mybtn {
  width: 250px;
  height: 33px;
  font-weight: normal;
  text-transform: none;
  position: absolute;
  left: 22px;
}
.pass-phrase {
  font-weight: bold;
  font-size: 15px;
  margin-left: 15px;
}
.nick-name {
  font-weight: bold;
  font-size: 15px;
  margin-left: 15px;
}
.generate-address {
  font-weight: bold;
  font-size: 15px;
  margin-left: 15px;
}
.address-activation {
  font-size: 15px;
  text-align: center;
  margin-left: 15px;
}
.new-address {
  font-size: 15px;
  color: red;
  font-weight: bold;
  margin-left: 15px;
  text-align: center;
}
