.title {
  font-size: 15px;
  position:relative;
  bottom:30px;
}
.mybtn {
  width: 60%;
  height: 33px;
  font-weight: normal;
  text-transform: none;
  
}
.pass-phrase {
  font-weight: bold;
  font-size: 15px;
  margin-left: 15px;
}
.nick-name {
  font-weight: bold;
  font-size: 15px;
  margin-left: 15px;
}
.generate-address {
  font-weight: bold;
  font-size: 15px;
  margin-left: 15px;
}
.address-activation {
  font-size: 15px;
  text-align: center;
  margin-left: 15px;
}
.new-address {
  font-size: 15px;
  color: red;
  font-weight: bold;
  margin-left: 15px;
  text-align: center;
}
ion-toolbar{
  height:58px;
  }
  .exit-icon {
    position: absolute;
    right: 20px;
    font-size: 20px;
    bottom:30px;
  }
  