.title-md {
  font-size: 15px;
  position: absolute;
  left: 50px;
  bottom: 20px;
}
.ttile-ios {
  font-size: 15px;
  position: absolute;
  left: 50px;
  bottom: 20px;
}
ion-button {
  text-transform: none;
}
ion-toolbar {
  height: 60px;
}
.restore-wallet {
  font-size: 15px;
  margin-top: 30px;
  margin-left: 18px;
}
.back-up {
  font-size: 15px;
  margin-left: 18px;
  font-weight: bold;
}
.input {
  padding: 10px;
  height: 10px;
}
.input-item {
  padding: 15px;
}
