<ion-header>
  <ion-toolbar color='primary'>
    <ion-back-button></ion-back-button>
    <ion-title text-center>Restore an Existing Wallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color='secondary'>
  <p class='restore-wallet'> If you have a backup code you exported from another copy of CasinoCoin Mobile you can
    import it here. Doing so will create a copy of that wallet on this device.</p>
  <p class='back-up'>Backup code</p>
  <ion-item class='input-item'>
    <ion-input type='text' class='input'></ion-input>
  </ion-item>
</ion-content>