<ion-header>
  <ion-toolbar color="primary">
    <ion-icon name="exit" class='exit'></ion-icon>
    <ion-title class='send' text-center>
      Send
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <p class='from-address'>From Address</p>
    <ion-item>
      <ion-input></ion-input>
      <ion-select>
        <ion-select-option *ngFor="let user of users">{{user.first + ' ' + user.last}}</ion-select-option>
      </ion-select>
    </ion-item>
    <p class='to-address'>To Address</p>
    <ion-item>
      <ion-input></ion-input>
      <ion-button text-right>
        <ion-icon name="qr-scanner"></ion-icon> Scan
      </ion-button>
    </ion-item>
    <p class='tag'>Destination Tag (optional, but many exchanges require this)</p>
    <ion-item>
      <ion-input></ion-input>
      <ion-icon name="destination-tag"></ion-icon>
    </ion-item>
    <p class='amount'>Amount</p>
    <ion-item>
      <ion-input></ion-input>
      <ion-button>Pay</ion-button>

    </ion-item>
  </ion-list>

  <p class='text'>The CasinoCoin network requires a minimum 10 CSC balance at all times and charges fees based on
    congestion even for failed transactions.</p>

</ion-content>