.send {
  font-size: 15px;
}
.exit {
  position: absolute;
  right: 20px;
  font-size: 20px;
}
.my-btn {
  text-transform: none;
  font-size: 14px;
  font-weight: normal;
  width: 60%; 
  height: 33px;
  border-radius: 5px;
}
.address,
.secret-key,
.pass-phrase,
.nick-name {
  font-size: 15px;
  font-weight: bold;
  margin-left: 15px;
}
.pay-btn,.qr-btn {
  position: absolute;
  right: 10%;
  text-transform: none;
}
.text{
  text-align: center;
  font-size:15px;
}
