<ion-header>
  <ion-toolbar color="primary">
    <ion-icon name="exit" class='exit'></ion-icon>
    <ion-title class='send' text-center>
      Send
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <p class='secret-key'>From Address</p>
    <ion-item>
      <ion-input input type='text'></ion-input>
    </ion-item>
    <p class='address'>To Address</p>
    <ion-item>
      <ion-button color='danger' class='qr-btn'>QR</ion-button>
      <ion-input input type='text'></ion-input>
    </ion-item>
    <p class='nick-name'>Destination Tag (optional, but many exchanges require this)</p>
    <ion-item>
      <ion-input type='text'></ion-input>
    </ion-item>
    <p class='pass-phrase'>Amount</p>
    <ion-item>
        <ion-button class='pay-btn' color='danger'>Pay</ion-button>
      <ion-input type='text'></ion-input>
    </ion-item><br>
    <p class='text'>The CasinoCoin network requires a minimum 10 CSC balance at all times and charges fees based on congestion even
      for failed transactions.</p>
  </ion-list>
</ion-content>